body {
    background-image:radial-gradient(circle, gray, black);

}
    
    .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
    
    }
  
    .EightBall-App{
    
    font-size: 18px;
    padding: 10px;
    margin-top: 150px;
    text-shadow: 2px 1px black;
    
       
   }

   .EightBall-Repo{
    
    font-size: 18px;
    padding: 10px;
    background: black;
    width: 30%;
    height: 30%;
    border-radius: 15%;
    border: 2px solid purple;
    text-align: center;
    margin:150 auto;
    
    
    
       
   }

   .PurpleBall-App{
    
    font-size: 18px;
    padding: 10px;
    margin-top: 150px;
    text-shadow: 2px 1px black;

   }
   .PurpleBall-Repo{
    
    font-size: 18px;
    padding: 10px;
    margin:150 auto;
    background: black;
    width: 30%;
    height: 30%;
    border-radius: 15%;
    border: 2px solid purple;
    text-align: center;

   }

   .BusTracker-App{
    
    font-size: 18px;
    padding: 10px;
    margin-top: 150px;
    text-shadow: 2px 1px black;

   }

   .BusTracker-Repo{
    
    font-size: 18px;
    padding: 10px;
    margin:150 auto;
    background: black;
    width: 30%;
    height: 35%;
    border-radius: 15%;
    border: 2px solid purple;
    text-align: center;
   }

   .Eyes-App{
    
    font-size: 18px;
    padding: 10px;
    margin-top: 150px;
    text-shadow: 2px 1px black;
   
   }

   .Eyes-Repo{
    
    font-size: 18px;
    padding: 10px;
    margin:150 auto;
    background: black;
    width: 30%;
    height: 30%;
    border-radius: 15%;
    border: 2px solid purple;
    text-align: center;
   }

   .Pacmen-App{

    font-size: 18px;
    padding: 10px;
    margin-top: 150px;
    text-shadow: 2px 1px black;
   }

   .Pacmen-Repo{

    font-size: 18px;
    padding: 10px;
    margin:150 auto;
    background: black;
    width: 30%;
    height: 30%;
    border-radius: 15%;
    border: 2px solid purple;
    text-align: center;
   }

   

   a{
    color:purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       

   }
   
   a:hover{
    color:white;
   }

   .pics{
    width:300px;
    height:200px;
    border-radius:10%;
    border: 3px solid purple;
      
   }   
   
   .pics:hover{
    border-color:white;
   }
   
   .navbar-brand{
    background-image:linear-gradient(45deg, purple, black);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       

   }

   button{
    height:50px;
    background-image: linear-gradient(45deg, purple, black);
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
   }

   p{
       font-family:Verdana, Geneva, Tahoma, sans-serif;
       font-weight: bolder;
   }
   body, html {
    cursor: url(cursor.png), pointer;
}
